<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BandAID</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <h1 class="title is-1">BandAID</h1>
        <h2 class="subtitle">
          Accessible, Informative, DIY organizational tool to store data about
          concerts your band or musical group has played!
        </h2>
      </div>
      <nav class="navbar is-dark">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <img
              src="/img/logo.png"
              alt="BandAID: Accessible, Informative, DIY"
              height="56"
            />
          </a>
          <div
            class="navbar-burger"
            data-target="navbarExampleTransparentExample"
          >
            <span>1</span>
            <span>2</span>
            <span>3</span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <a id="nav-home" class="navbar-item" href="#"> Home </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a id="your-info" class="navbar-link" href="#"> Your Info </a>
              <div class="navbar-dropdown is-boxed">
                <a id="nav-dashboard" class="navbar-item" href="#">
                  Dashboard
                </a>
                <a id="concerts" class="navbar-item" href="#"> Concerts </a>
                <a id="nav-venue" class="navbar-item" href="#"> Venue </a>
              </div>
            </div>
            <a id="nav-logout" class="navbar-item" href="#"> Logout </a>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <div class="field has-addons has-addons-right">
                  <p class="control">
                    <span class="select">
                      <select>
                        <option>Concert</option>
                        <option>Venue</option>
                        <option>Band</option>
                      </select>
                    </span>
                  </p>
                  <p class="control">
                    <input class="input" type="text" placeholder="Search" />
                  </p>
                  <p class="control">
                    <a class="button is-warning"> Search </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </section>
    {{{body}}}
    <script src="/js/main.js"></script>
  </body>

</html>