<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BandAID</title>
    <link rel="stylesheet" href="./testStyle.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <h1 class="title is-1">BandAID</h1>
        <h2 class="subtitle">
          Accessible, Informative, DIY organizational tool to store data about
          concerts your band or musical group has played!
        </h2>
      </div>
    </section>
    {{{body}}}
  </body>

</html>