<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BandAID</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <section class="hero">
      <div class="hero-body">
        <img src="/img/logo.png" alt="BandAID logo" />
      </div>

      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a
            class="navbar-item"
            href="https://fierce-beach-33317.herokuapp.com/"
          >
            <img src="/img/logo.png" />
          </a>

          <a
            role="button"
            class="navbar-burger burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a
              class="navbar-item"
              href="https://fierce-beach-33317.herokuapp.com/api/users"
            >
              Bands
            </a>
            <a
              class="navbar-item"
              href="https://fierce-beach-33317.herokuapp.com/api/concerts"
            >
              Concerts
            </a>
            <a
              class="navbar-item"
              href="https://fierce-beach-33317.herokuapp.com/api/venues"
            >
              Venues
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Add New
              </a>
              <div class="navbar-dropdown">
                <a
                  class="navbar-item"
                  href="https://fierce-beach-33317.herokuapp.com/newband"
                >Band</a>
                <a
                  class="navbar-item"
                  href="https://fierce-beach-33317.herokuapp.com/newconcert"
                >Concert</a>
                <a
                  class="navbar-item"
                  href="https://fierce-beach-33317.herokuapp.com/newvenue"
                >Venue</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    </section>

    {{{body}}}

    <script src="/js/main.js"></script>

  </body>

</html>