<section id="createAccount">
      <div class="createHeader">Add a Concert</div>

      <form>
     
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Date</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="date" class="input" type="text" placeholder="01/01/2021">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Guarantee</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="guarantee" class="input" type="text" placeholder="If any...">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Presales</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="presale-amount" class="input" type="text" placeholder="Amount Given">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Sold</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="presale-sold" class="input" type="text" placeholder="Tickets sold amount. Don't lie">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Payout</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="actual-payout" class="input" type="text" placeholder="Actual Payout Amount e.g. $0.00">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Merch</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="merch-sales" class="input" type="text" placeholder="Merch Sales Amount e.g. $0.00">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">User ID</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="user-id" class="input" type="text" placeholder="ALWAYS USE SAME NUMBER">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue ID</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="venue-id" class="input" type="text" placeholder="Assign Venue an ID number">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <textarea id="comments" class="textarea" placeholder="Comments. Was the door guy a jerk? Log that here." rows="1"></textarea>
      </section>
      <section class="inputBox"> 
        <label class="checkbox">
            <input id="twenty-one" type="checkbox" value="true">
            21+ Show
          </label>
      </section>
      <section class="accountSubmit">
        <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a id="concert-submit-button" class="button is-black">
                Submit
              </a>
            </p>
            <p class="control">
              <a id="cancel-button" class="button is-light">
                Cancel
              </a>
            </p>
          </div>
      </section>
    </form>      
</section>
<script src="/js/post-concert.js"></script>