<main>
  <section class="home-text">
    <img src="./public/img/logo.png" alt="BandAID logo" />
    <h1>Welcome To Band Aid</h1>
    <h3>
      BandAID. An organizational toolkit for bands to log data about finances
      and logistics from a concert or tour for record keeping purposes.
    </h3>
  </section>
</main>