<main>
  <section class="home-text">

    <h1>Welcome To BandAID</h1>
    <h3>
      Accessible, Informative, DIY organizational tool to store data about
      concerts your band or musical group has played! Log data about finances
      and logistics from concerts for record keeping purposes.
    </h3>
  </section>
</main>