<section class="createAccount">
    <div class="createHeader">Create Venue</div>
      <form id="post-venue">
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="venue-name" class="input" type="text" placeholder="Venue Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue City</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="city" class="input" type="text" placeholder="Venue City">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Venue State</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="state" class="input" type="text" placeholder="Venue State">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Contact Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="email" class="input" type="text" placeholder="Venue Email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Phone Number</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="phone" class="input" type="text" placeholder="Venue Phone #">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Management</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="management" class="input" type="text" placeholder="Venue Manager Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Engineer</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="engineer" class="input" type="text" placeholder="Sound Engineer Name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </p>
              </div>
      </section>
      <section class="inputBox">
        <div class="field is-horizontal">
            <label class="label">Rating</label>
            <input class="slider is-fullwidth has-output-tooltip" step="1" min="0" max="5" value="3" type="range">
      </section>
      <section class="accountSubmit">
        <div class="field is-grouped is-grouped-right">
            <p class="control">
              <a class="button is-primary">
                Submit
              </a>
            </p>
            <p class="control">
              <a class="button is-light">
                Cancel
              </a>
            </p>
          </div>
      </section>
    </form>
</section>