<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
  </head>
  <body>
    <form id="post-concert">
      <div class="field">
        <label class="label">Venue Name</label>
        <div class="control">
          <input
            id="venue-name"
            class="input"
            type="text"
            placeholder="e.g The Knuckle Duster"
          />
        </div>
      </div>

      <div class="field">
        <label class="label">DATE --WE SHOULD CHANGE THIS--</label>
        <div class="control">
          <input id="date" class="input" type="text" placeholder="2021-05-07" />
        </div>
      </div>
      <div class="field">
        <label class="label">Headliner</label>
        <div class="control">
          <input
            id="headliner"
            class="input"
            type="text"
            placeholder="The Misfits"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Guarantee</label>
        <div class="control">
          <input
            id="guarantee"
            class="input"
            type="text"
            placeholder="Enter Dollar Amount"
          />
        </div>
      </div>
      <div class="field">
        <label id="presale" class="label">Presale</label>
        <div class="control">
          <input
            class="input"
            type="text"
            placeholder="Number of Presale Tickets"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Presale Sold</label>
        <div class="control">
          <input
            id="presale-sold"
            class="input"
            type="text"
            placeholder="Number of Presale Sold"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Actual Payout</label>
        <div class="control">
          <input
            id="actual-payout"
            class="input"
            type="text"
            placeholder="Enter Dollar Amount"
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Merch Sales</label>
        <div class="control">
          <input
            id="merch-sales"
            class="input"
            type="text"
            placeholder="Enter Dollar Amount"
          />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input id="21" type="checkbox" />
            21 and up
          </label>
        </div>
      </div>
      <div class="field">
        <label class="label">Comments</label>
        <div class="control">
          <textarea
            id="comments"
            class="textarea"
            placeholder="Textarea"
          ></textarea>
        </div>
      </div>
      <div class="field">
        <label class="label">User Id</label>
        <div class="control">
          <input
            id="user-id"
            class="input"
            type="text"
            placeholder="Enter numeric value"
          />
        </div>
      <div class="field">
        <label class="label">Venue Id</label>
        <div class="control">
          <input
            id="venue-id"
            class="input"
            type="text"
            placeholder="Enter numeric value"
          />
        </div>
      <div class="control">
        <button class="button is-primary">Submit</button>
      </div>
    </form>
    <script src="/public/js/post-concert.js"></script>
  </body>
</html>
