<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"
    />
  </head>
  <body>
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img
            src="https://bulma.io/images/bulma-logo.png"
            alt="BandAID: Accessible, Informative, DIY"
            width="112"
            height="28"
          />
        </a>
        <div
          class="navbar-burger"
          data-target="navbarExampleTransparentExample"
        >
          <span>1</span>
          <span>2</span>
          <span>3</span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="https://bulma.io/"> Home </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a
              class="navbar-link"
              href="https://bulma.io/documentation/overview/start/"
            >
              Your Info
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="#"> Dashboard </a>
              <a class="navbar-item" href="#"> Concerts </a>
              <a class="navbar-item" href="#"> Venue </a>
            </div>
          </div>
          <a class="navbar-item" href="#"> Logout </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <div class="field has-addons has-addons-right">
                <p class="control">
                  <span class="select">
                    <select>
                      <option>Concert</option>
                      <option>Venue</option>
                      <option>Band</option>
                    </select>
                  </span>
                </p>
                <p class="control">
                  <input class="input" type="text" placeholder="Search" />
                </p>
                <p class="control">
                  <a class="button is-primary"> Search </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>
